#drum-machine{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#display{
    display: flex;
    flex-flow: row wrap;

    width: 300px;
}